body {
    background-color: #f4d04e;
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
}

.card-container {
    width: 300px;
    height: 450px;
}

.card-thumbnail {
    width: 16rem;
}

.card-badge {
    background-color: #f4d04e;
    width: 73px;
    height: 25px;
}

.card-title {
    transition: color 0.3s ease, transform 0.3s ease;
}

.card-title:hover {
    color: #f4d04e;
    transform: scale(1.05);
}