body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
}

.qr-card {
    width: 320px;
    height: 499px;
}

.qr-code-img {
    width: 288px;
    height: 288px;
}

.regular-text, .bold-text {
    font-family: "Outfit", sans-serif;
}

.regular-text {
    color: hsl(216, 15%, 48%);
}

.bold-text {
    color: rgb(31, 49, 79);
}